$color-primary-blue: hsl(233, 26%, 24%);
$color-lime-green: hsl(136, 65%, 51%);
$color-bright-cyan: hsl(192, 70%, 51%);

$color-grayish-blue: hsl(233, 8%, 62%);
$color-light-grayish: hsl(220, 16%, 96%);
$color-very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif; //300 400 700 weight
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

//btns
.btn,
.btn:link,
.btn:visited {
  color: $white;
  text-decoration: none;
  font-size: 1.6rem;
  //color: $white;
  background: linear-gradient(
    to right,
    $color-lime-green,
    60%,
    $color-bright-cyan
  );
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  transition: all 0.3s;

  &:hover {
    opacity: 0.6;
  }
}

//moBIle nav burger
.hamburger {
  top: 45%;
  left: 10%;
  transform: translateY(-60%);
  width: 40px;
  height: 4px;
  background: $color-grayish-blue;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon-one {
  position: absolute;
  top: 0%;
  right: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: none;

  @media only screen and (max-width: 450px) {
    display: block;
  }
}

.hamburger-one:before,
.hamburger-one:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: $color-grayish-blue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.icon-one.active-one .hamburger-one {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon-one.active-one .hamburger-one:before {
  top: 0;
  transform: rotate(45deg);
}

.icon-one.active-one .hamburger-one:after {
  top: 0;
  transform: rotate(135deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
