.header {
  padding: 3rem 10rem;
  position: relative;
  z-index: 100;
  background-color: $white;

  @media only screen and (max-width: 450px) {
    display: block;
    padding: 3rem;
    position: sticky;
    top: 0;
    left: 0;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
  }

  &__logo {
  }

  &__list {
    list-style: none;

    display: flex;

    justify-content: space-between;
    @media only screen and (max-width: 450px) {
      position: absolute;
      top: 10rem;
      right: 50%;
      transform: translateX(50%) translateY(-150%);
      height: 25vh;
      flex-direction: column;
      background-color: $white;
      width: 40vh;
      align-items: center;
      justify-content: space-evenly;
      z-index: 200;
      border-radius: 3px;
      transition: all 0.3s ease-in;
    }
  }

  &__item {
    &:not(:first-of-type) {
      padding-left: 3rem;

      @media only screen and (max-width: 450px) {
        padding: 0;
      }
    }
    @media only screen and (max-width: 450px) {
      opacity: 0;
    }
  }

  &__link,
  &__link:visited,
  &__link:link {
    font-size: 1.5rem;
    color: $color-grayish-blue;
    text-decoration: none;
    text-transform: capitalize;
    padding-bottom: 2rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in;

    &:hover {
      border-bottom: 2px solid $color-lime-green;
    }
  }
}

//CTA

.cta {
  background-color: $color-very-light-gray;
  position: relative;
  padding: 0 10rem 0 10rem;
  overflow: hidden;
  height: 80vh;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  @media only screen and (max-width: 450px) {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 80vh;
  }

  &__text-box {
    width: 30%;
    text-align: start;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media only screen and (max-width: 450px) {
      padding: 3rem;
      width: 100%;
      margin: 15rem auto;
      text-align: center;
    }
  }

  &__heading {
    font-size: 4.5rem;
    color: $color-primary-blue;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 1.2;
    @media only screen and (max-width: 450px) {
      font-size: 3rem;
    }
  }

  &__paragraph {
    line-height: 1.5;
    font-size: 1.7rem;
    color: $color-grayish-blue;
    margin-bottom: 4rem;
  }

  &__bg {
    position: absolute;
    z-index: 1;
    right: -60rem;
    top: -24rem;
    clip-path: polygon(0 20%, 59% 20%, 59% 100%, 0 100%);
    // overflow: hidden;
    // transform: translateY(-38%) translateX(50%);
    // left: -2rem;
    // top: -26rem;

    @media only screen and (max-width: 450px) {
      display: none;
    }
  }
  &__right {
    &-img {
      position: absolute;
      z-index: 20;
      top: -12rem;
      right: -11rem;
      //   transform: translateX(90%) translateY(-25%);
      //   display: none; //testing
      @media only screen and (max-width: 450px) {
        width: 30rem;
        top: -10rem;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}

//MOBILE

.cta__bg-mobile {
  display: none;
  width: auto;
  height: auto;

  @media only screen and (max-width: 450px) {
    display: block;
    margin: 0 0 0 auto;
  }
}

.close-btn {
  @media only screen and (max-width: 450px) {
    display: none;
  }
}

.active {
  transform: translateX(50%);
}

.visible {
  display: none;
}

@keyframes navLinks {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
